
PORT=3000

SUPABASE_URL=https://qphpmktvrgmyzknjrdhi.supabase.co
SUPABASE_ANON_KEY=sb_publishable_serGYM32YtR7msZ2JwNDdQ_1HFjWzuV

TEACHER_CODE=teacher123

LIBRARIAN_CODE=librarian123

GMAIL_USER=aayushfourth@gmail.com
GMAIL_APP_PASSWORD=gftw trbx wccc nzfp